.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  list-style-type: none;
  color: #38598b;
  font-size: 14pt;
  line-height: 19pt;
  text-align: left;
  margin-bottom: 10px;
}

.WeatherInfo img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -10px;
}
