.WeatherInfo ul {
  margin: 0;

  padding: 0;
}

.WeatherInfo li {
  list-style-type: none;
  color: #38598b;
  font-size: 14pt;

  text-align: left;
  margin-bottom: 0;
}

.WeatherInfo img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -10px;
}
